#about {
    background-color: white;
    margin-left: auto;
    margin-right: 20%;
    max-width: 60%;
    height: 100%;
    padding: 5rem;
    box-shadow: 1rem 0rem 2rem lightgrey, -1rem 0rem 2rem lightgrey;
    
}

#about>p {
    text-align: justify;
    text-indent: 2rem;
}

#about>ul {
    list-style-type: square;
    text-align: left;
}

#about > * {
    margin-top: 0;
}

@media (max-width: 700px) {
    #about {
      margin-right: 10%;
      max-width: 80%;
      padding: 2rem;
    }
}