.search-result-container {
    display: flex;
    width: 70%;
    flex-direction: column;
    margin-left: 50%;
    margin-right: auto;
    transform: translate(-50%);
    gap: 1rem;
    padding: 2rem;
}

.search-result-item {
    background-color: white;
    text-align: justify;
    padding: 0 2rem 0 2rem;
    border-radius: 2rem;
    border: 1px solid lightblue;
    overflow-wrap: break-word;
}

.search-input {
    height: 4rem;
    border-radius: 1rem;
    border: 1px solid rgb(138, 138, 151);
    padding-left: 1rem;
    font-size: 1.5rem;
    min-width: 30%;
}

fieldset {
    width: 32%;
    margin: 0rem auto 1rem 50%;
    transform: translate(-50%);
    text-align: left;
}