#right-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#landing-pic > img {
    height: 30vh;
    margin-top: 5%;
}

#landing {
    margin: 1rem;
    color: rgb(1, 95, 129);
}

#landing a {
    text-decoration: underline;
    color: rgb(19, 90, 116);
    text-decoration-thickness: 0.2rem;
}

#landing a:hover {
    font-weight: bold;
    color: rgb(4, 55, 74);
}

#llm-select {
    max-width: fit-content;
    margin-left: 25%;
    margin-right: auto;
    margin-bottom: 5rem;
    background-color: white;
    border-radius: 1rem;
    height: 4rem;
    font-size: 1.5rem;
    border: solid 0.1rem rgb(138, 138, 151);
    padding: 1rem;
}

#llm-select:hover {
    background-color: aquamarine;
}