#chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

#chat-input-box {
    flex-basis: 12rem;
    flex-shrink: 0;
    flex-grow: 0;
    margin: 0;
    padding: 1rem 0 0 0;
}

#chatbox {
    display: flex;
    flex-direction: column;
    background-color: rgba(112, 9, 141, 0.06);
    height: calc(100vh - 8rem - 6rem - 12rem);
    padding: 0 1rem 0;
    overflow-y: scroll;
    flex: 1;
}

#chatbox>*:first-child {
    margin-top: auto;
}

.spinner {
    font-size: 2rem;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

#chat-title {
    display: none;
}

#chat-model {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 0.5rem;
    transform: translate(-50%);
    background-color: white;
    border-radius: 2rem;
    border: solid 1px lightgray;
    display: block;
    box-shadow: 0.5rem 0.5rem 1rem lightgray;
}