* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #fffdf4;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  height: 100vh;
}